<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users | Admin | FoxWear</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin/layout/leftBarDesign.css">
    <link rel="stylesheet" href="/css/admin/layout/pageDesign.css">
    <link rel="stylesheet" href="/css/admin/layout/headerDesign.css">
</head>
<body>
<div class="site-content">
    <div class="left">
        <div class="left-bar">
            <div th:replace="~{admin/layoutAdmin :: left-bar}"></div>
        </div>
    </div>
    <div class="right">
        <div class="header">
            <div th:replace="~{admin/layoutAdmin :: header}"></div>
        </div>
        <div class="content">
            content users
        </div>
    </div>
</div>
</body>

<script src="/js/admin/layout/setActivePage.js"></script>
<script src="/js/admin/product/api/fillCreateProductForm.js"></script>
<script src="/js/admin/product/api/sendCreateProductRequest.js"></script>
</html>