/*search container*/
.site-content .right .header .search-container {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
}

.site-content .right .header .search-container input {
    width: 100%;
    padding: 10px 20px 10px 45px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color ease-in-out .15s;
}

.site-content .right .header .search-container input:focus {
    outline: none;
    border: 1px solid var(--main-color);
}

.site-content .right .header .search-container .search-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 5px 15px;
}

.site-content .right .header .search-container .search-btn svg {
    width: 18px;
    height: 18px;
}

/*buttons*/
.site-content .right .header .header-actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

/*new product button*/
.site-content .right .header .header-actions .new-product-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s cubic-bezier(.2, .7, .2, 1);
}

.site-content .right .header .header-actions .new-product-btn:hover {
    background-color: transparent;
    color: var(--main-color);
}

.site-content .right .header .header-actions .new-product-btn .plus-icon {
    margin-right: 10px;
    font-size: 20px;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*vertical line*/
.site-content .right .header .header-actions .ln-vertical {
    height: 20px !important;
}

/*logout button*/
.site-content .right .header .header-actions .logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.site-content .right .header .header-actions .logout-btn svg {
    width: 25px;
    height: 25px;
}

.site-content .right .header .header-actions .logout-btn {
    font-size: 16px;
}