* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--secondary-color);
}

:root {
    --main-color: rgb(74, 53, 44);
    --main-color-with-opacity: rgba(74, 53, 44, 0.2);
    --secondary-color: rgb(237, 237, 237);
    --cubic-bezier: cubic-bezier(.2, .7, .2, 1);
    --navbar-height: 60px;
    --offer-height: 30px;
    --site-padding: 50px;
    --footer-height: 400px;
}

::selection {
    background-color: rgba(92, 66, 55, 0.85);
    color: var(--secondary-color);
}

/*Flex Items*/
.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*Buttons*/
.btn-dark-bg-light-border-hover-trp a,
.btn-dark-bg-dark-border-hover-trp a{
    border-radius: 25px;
    padding: 12px 30px;
    transition: 0.3s var(--cubic-bezier);
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 2px solid var(--main-color);
}

.btn-dark-bg-light-border-hover-trp a:hover {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

.btn-dark-bg-dark-border-hover-trp a:hover {
    background-color: transparent;
    color: var(--main-color);
}

.btn-light-bg-light-border-hover-trp a,
.btn-light-bg-dark-border-hover-trp a{
    border-radius: 25px;
    padding: 12px 30px;
    transition: 0.3s var(--cubic-bezier);
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 2px solid var(--secondary-color);
}

.btn-light-bg-light-border-hover-trp a:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

.btn-light-bg-dark-border-hover-trp a {
    background-color: transparent;
    border: 2px solid var(--main-color);
}

/*Website contents*/
.root .page-content {
    margin-top: calc(var(--offer-height) + var(--navbar-height));
}

.root .page-content > .section {
    padding: 40px var(--site-padding);
}

.site-header {
    font-size: 20px;
    font-family: "Lao MN", sans-serif !important;
    font-weight: 900;
}

.ln-vertical {
    background-color: #ccc;
    height: 100%;
    width: 1px;
}