* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--secondary-color);
}

:root {
    --main-color: rgb(74, 53, 44);
    --main-color-with-opacity: rgba(74, 53, 44, 0.2);
    --secondary-color: rgb(237, 237, 237);
}

.ln-vertical {
    background-color: #ccc;
    height: 100%;
    width: 1px;
}