:root {
    --header-padding: 50px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/*OFFER*/
header .offer {
    width: 100%;
    position: relative;
    padding: 0 var(--header-padding);
    height: var(--offer-height);
    justify-content: space-between;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 13px;
}

header .offer .social-media {
    gap: 10px;
    z-index: 1001;
}

header .offer .social-media .social-media-links {
    gap: 10px;
}

header .offer .social-media .social-media-links .link {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 50%;
    padding: 1px;
    font-size: 15px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s var(--cubic-bezier);
}

header .offer .social-media .social-media-links .link:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

header .offer .offer-content {
    position: absolute;
    inset: 0;
    z-index: 1000;
}

header .offer .offer-content .text {
    cursor: pointer;
}

header .offer .offer-content .text:hover {
    text-decoration: underline;
}

header .offer .contact-info {
    gap: 30px;
    z-index: 1001;
}

header .offer .contact-info .info {
    gap: 10px;
}

header .offer .contact-info .info .icon {
    width: 18px;
    height: 18px;
}

/*NAVBAR*/
header .navbar {
    width: 100%;
    height: var(--navbar-height);
    padding: 0 var(--header-padding);
    background-color: var(--secondary-color);
    position: absolute;
    top: var(--offer-height);
    justify-content: space-between;
    align-items: center;
}

header .navbar .nav {
    z-index: 1001;
}

header .navbar .nav .nav-list {
    list-style: none;
    gap: 20px;
}

header .navbar .site-icon {
    position: absolute;
    inset: 0;
}

header .navbar .site-icon .icon {
    gap: 10px;
    cursor: pointer;
    z-index: 1000;

}

header .navbar .site-icon img {
    width: 50px;
}

header .navbar .buttons {
    gap: 10px;
    z-index: 1001;
}

header .navbar .buttons svg {
    width: 23px;
    height: 23px;
}